.btn {
    display: flex;
    gap: 12px;
    // height: 57px;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    font-size: 14px;
    font-weight: 600;
    color: #009B51;
    border: 1px solid #0DBA48;
    // border-radius: 16px;
    padding: 0 30px;
    background-color: #fff;
    cursor: pointer;

    &--gradient {
        background: linear-gradient(108deg, #0DBA48 -0.47%, #009B51 74.17%);
        color: #fff;
        height: 64px;
        border-radius: 16px;
    }

    &--white {
        height: 64px;
        border-radius: 16px;
    }

    &--green {
        border-radius: 16px;
        border: 1px solid #0DBA48;
        background: #009B51;
        height: 57px;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
    }

    &--grey {
        font-size: 12px;
        color: var(--color-grey-06);
        background-color: #D9E3E8;
        border-radius: 6px;
        border-color: #D9E3E8;
        height: 35px;
        font-weight: 400;
        white-space: nowrap;
    }
}