.figcaption {
    font-size: 12px;
    font-weight: 400;
    color: rgba(7, 23, 13, 0.2);
    position: absolute;
    bottom: calc(100% + 10px);
}

.figure {
    position: relative;
    margin-bottom: 30px;
    img {
        border-radius: 16px;
    }
    @media (max-width: 1399px) {
        margin-bottom: 35px;
    }
}