.green-block {
    background: url("../img/Isolated_right_hand_with_smartphone 4.svg"), url('../img/Isolated_right_hand_with_smartphone 3.svg'), linear-gradient(108deg, #0DBA48 -0.47%, #009B51 74.17%);;
    background-repeat: no-repeat;
    background-position: left bottom, right top;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    padding: 110px 0;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    .btn {
        margin: auto;
    }
    .subtitle {
        margin-bottom: 50px;
        font-size: 24px;
        max-width: 530px;
        color: var(--color-white-08);
        @media (max-width: 1399px) {
            max-width: 370px;
            font-size: 16px;
        }
    }
    @media (max-width: 1399px) {
        padding-top: 45px;
        padding-bottom: 45px;
        background-size: 232px auto, 206px auto, 100% auto;
    }
}

.green-block__title {
    margin-bottom: 20px;
    max-width: 760px;
    @media (max-width: 1399px) {
        max-width: 370px;
    }
}