.link-next {
    font-size: 14px;
    font-weight: 700;
    color: #009B51;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: auto;
    svg {
        margin-bottom: -2px;
    }
}