.nav-menu {
    display: flex;
    gap: 35px;
    margin-right: auto;
    @media (max-width: 1399px) {
        display: none;
    }
}

.nav-menu__link {
    font-family: Commissioner;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 5px;
}