header.header 
    a.header__logo.logo(href="index.html")
        img(src="img/logo.svg" alt="ecomusor") 
    nav.nav-menu 
        a.nav-menu__link(href="") 
            svg(width="20" height="20")
                use(xlink:href="#icon-12")
            span Аукционы
        a.nav-menu__link(href="") Для продавцов
        a.nav-menu__link(href="") Для покупателей
        a.nav-menu__link(href="") Для утилизаторов
        a.nav-menu__link(href="") О нас
        a.nav-menu__link(href="") Новости
 
    button.btn.header__btn
        span Войти
        svg(width="21" height="21")
            use(xlink:href="#exit-icn")

    button.burger 
        img(src="img/icns/burger.png", alt="")


#topscroll
    svg(width="13" height="13" viewBox="0 0 13 13")
        use(xlink:href="#arrow-up-icn")