script(src='js/jquery.min.js')
//- script(src="https://code.jquery.com/jquery-migrate-1.4.1.min.js")

//- script(src="js/tabs.js")
script(src="js/swiper-bundle.min.js")   
script(src="js/scroll-lock.js")
script(src="js/custom-select.min.js")
//- script(src="https://api-maps.yandex.ru/2.1.79/?lang=ru_RU&amp;apikey=<ваш API-ключ>")
//- script(src="js/yamap.js")
//- script(src="js/air-datepicker.js")
//- script(src="js/image-uploader.min.js")
script(src="js/mask.js")
script(src='js/accordion.js')
script(src='js/main.js')