doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/style.min.css")
    body    
        .notfound
            ._container
                .notfound__wrapper
                    a.logo.notfound__logo(href="/") 
                        img(src="img/logo.svg", alt="")
                    h1.title-page.notfound__title Что то пошло не так
                    .subtitle.subtitle__subtitle Страница, на которую вы пытаетесь попасть, не существует
                    a.btn.btn--gradient.notfound__btn(href="") Вернуться на главную 