extends templates/layout

block content
    .article._container
        ul.breadcrumb
            li 
                a(href="") Главная
            li
                a(href="") Новости
            li  Тюменская область стала лидером в строительстве мусорных заводов
        .article__head
            h1.title-page.article__title Тюменская область стала лидером в строительстве мусорных заводов
            h4.subtitle По словам губернатора Александра Моора, отобранное вторсырье продается в регионе на открытых аукционах

        .article__container
            .article__content
                figure.figure 
                    figcaption.figcaption 20 января 2023
                    img(src="img/image18.jpg", alt="")
                p Сортировка 100% отходов достигнута в Тюменской области, что характеризует регион как самый подготовленный субъект России в сфере обращения с твёрдыми коммунальными отходами. Об этом сообщила во вторник в ходе рабочего визита в Тюмень глава Росприроднадзора Светлана Радионова.
                p «В Тюменской области сортируют 100% ТКО. Это говорит о том, что это самый подготовленный субъект России в сфере обращения с отходами. Здесь совпало все: сильный регион, население, сильный губернатор, хорошая команда, устойчивый региональный оператор», - сказала Радионова.
                p При осмотре тюменского мусоросортировочного завода глава Тюменской области Александр Моор обратил внимание, что весь объём мусора в области сортируется, отобранное вторсырьё продаётся на открытых аукционах. «Вместе с руководителем федеральной службы осмотрели тюменский мусоросортировочный завод. Здесь принимают твёрдые коммунальные отходы из Тюмени и четырёх ближайших районов. Также сюда привозят ТКО с мусороперегрузочной станции в Ялуторовске. Мощность завода позволяет обрабатывать 90 тонн отходов в час, наш регион — один из лидеров в стране по сортировке ТКО», - сказал Моор.
                p В ходе экскурсии по заводу главе Росприроднадзора продемонстрировали установку термического обезвреживания отходов компании «Нов-Экология». Установка «Экоюнит» работает по автоматизированной технологии, которая предназначена для ТКО и медицинских отходов. Сложная система фильтрации при термическом обезвреживании исключает вредные выбросы в атмосферу, установка позволяет сократить объём захоронения обезвреженных отходов в сто раз. «На сегодняшний день существует большая проблема с вывозом отходов на островах, островных территориях, это, к примеру, Карелия, Мурманская часть, дальневосточная часть, малые посёлки, небольшие станицы, арктическая территория. Достойного оборудования фактически нет, а эта установка — единственный пример качественного оборудования на сегодняшний день», - отметила Радионова.
                p Глава Росприроднадзора высоко оценила совместную работу "Тюменское экологическое объединение" (ООО "ТЭО") и власти: в регионе создана вся необходимая инфраструктура: три мусоросортировочных завода (в Тюмени, Тобольске, Ишиме) и мусороперегрузочная станция в Ялуторовске, сертифицированные полигоны, система учета всех потоков ТКО. В 2022 году в Тюменской области внедрена система "Экопаспортов", которых было выдано уже 189. После сортировки остается большое количество вторичных материальных ресурсов, на которое нет спроса. У Тюменской области есть цель - решить этот вопрос в ближайшие годы совместно с партнерами: проект пиролиза совместно с ТЭО по преобразованию неиспользуемой части пластиковых отходов в полезные фракции - дизель, битум, которые будут использованы в народном хозяйстве.
                p В ходе визита в Тюмень Светлана Радионова также приняла участие в открытии экодома на Цветном бульваре (совместный проект "ТЭО" и "Сибура"). Первый экодом в регионе был запущен 27 октября у ТЦ "Гудвин". Экодом - часть образовательного проекта Корпорации СТС и Экологических операторов в партнерстве с крупнейшими технологическими компании страны в сфере разумного обращения с отходами и повышения экологической грамотности жителей УрФО. "Мы, безусловно, будем и дальше работать с нашими коллегами из "Сибура", с муниципальными, областными властями. Идея экодомов будет тиражироваться", - сообщил представитель акционеров ООО "Корпорация СТС" Алексей Бобров.
                p ООО "ТЭО" - единый оператор по обращению с ТКО в Тюменской области, отраслевой лидер и один из крупнейших региональных операторов в России. Компания эксплуатирует мусоросортировочные заводы в Тюмени, Тобольске и Ишиме, а также мусороперегрузочную станцию в Ялуторовске, общая производительность объектов не менее 440 тыс. тонн в год. Компания "НОВ-Экология" (учредитель компании - "Корпорация СТС") - российская компания, занимающаяся развитием современных сервисов и удобных решений в сфере экологической безопасности и обращения с отходами, образующимися при осуществлении производственной деятельности.

                a.btn.article__btn(href="") 
                    svg(width="12" height="12") 
                        use(xlink:href="#arrow-left-btn-icn")
                    span Назад к новостям

            .subscribe 
                h5.subscribe__title Подпишитесь на рассылку
                p.subscribe__content И будьте в курсе самых последних событий
                button.btn.btn--gradient.subscribe__btn Подписаться

    .last-news 
        .last-news__head
            h2.title-block Последние новости
            a(href="") Все статьи
        .last-news__content 
            .last-news__block 
                img(src="img/image18.jpg", alt="")
                .last-news__inner
                    h6.last-news__name Тюменская область стала лидером в строительстве мусорных заводов
                    p.last-news__text Тюменская область за два года построила три мусорных завода и стала лидером среди регионов
                    .last-news__footer 
                        a.link-next(href="") 
                            span Читать статью
                            svg(width="13" height="13") 
                                use(xlink:href="#arrow-right-icn2")
                        span.last-news__date 20 января 2023
            .last-news__block 
                .last-news__inner
                    h6.last-news__name В Подмосковье рассказали о новом способе борьбы с незаконным сбросом мусора
                    p.last-news__text Камеры видеонаблюдения будут помогать бороться с мусором в Подмосковье
                    .last-news__footer 
                        a.link-next(href="") 
                            span Читать статью
                            svg(width="13" height="13") 
                                use(xlink:href="#arrow-right-icn2")
                        span.last-news__date 10 января 2023
            .last-news__block 
                .last-news__inner
                    h6.last-news__name Подпишитесь на рассылку
                    p.last-news__text и будьте в курсе самых последних событий
                    .last-news__footer 
                        button.btn.btn--gradient.last-news__btn Подписаться