extends templates/layout

block content
    ._container
        ul.breadcrumb
            li 
                a(href="") Главная
            li  Новости
        h1.title-page.news__title Новости
        .news 
            .news__wrap 
                .news__item.ga1
                    img.news__pic(src="img/news/pic1.jpg" alt="")
                    .news__content
                        h4.news__name Тюменская область стала лидером в строительстве мусорных заводов 
                        p.news__text Тюменская область за два года построила три мусорных завода и стала лидером среди регионов 
                        .news__footer
                            a.link-next(href="")
                                span Читать статью
                                    svg(width="13" height="13") 
                                        use(xlink:href="#arrow-right-icn2")
                            .news__date 10 января 2023
                .news__item.ga2.fdr-desctop
                    img.news__pic(src="img/news/pic1.jpg" alt="")
                    .news__content
                        h4.news__name Тюменская область стала лидером в строительстве мусорных заводов 
                        p.news__text Тюменская область за два года построила три мусорных завода и стала лидером среди регионов 
                        .news__footer
                            a.link-next(href="")
                                span Читать статью
                                    svg(width="13" height="13") 
                                        use(xlink:href="#arrow-right-icn2")
                            .news__date 10 января 2023
                .news__item.ga3.fdr-desctop.fdr-laptop
                    img.news__pic(src="img/news/pic1.jpg" alt="")
                    .news__content
                        h4.news__name Тюменская область стала лидером в строительстве мусорных заводов 
                        p.news__text Тюменская область за два года построила три мусорных завода и стала лидером среди регионов 
                        .news__footer
                            a.link-next(href="")
                                span Читать статью
                                    svg(width="13" height="13") 
                                        use(xlink:href="#arrow-right-icn2")
                            .news__date 10 января 2023
                .news__item.ga4.fdr-laptop
                    img.news__pic(src="img/news/pic1.jpg" alt="")
                    .news__content
                        h4.news__name Тюменская область стала лидером в строительстве мусорных заводов 
                        p.news__text Тюменская область за два года построила три мусорных завода и стала лидером среди регионов 
                        .news__footer
                            a.link-next(href="")
                                span Читать статью
                                    svg(width="13" height="13") 
                                        use(xlink:href="#arrow-right-icn2")
                            .news__date 10 января 2023
                .news__item.ga5
                    img.news__pic(src="img/news/pic1.jpg" alt="")
                    .news__content
                        h4.news__name Тюменская область стала лидером в строительстве мусорных заводов 
                        p.news__text Тюменская область за два года построила три мусорных завода и стала лидером среди регионов 
                        .news__footer
                            a.link-next(href="")
                                span Читать статью
                                    svg(width="13" height="13") 
                                        use(xlink:href="#arrow-right-icn2") 
                            .news__date 10 января 2023
                .news__item.ga6
                    img.news__pic(src="img/news/pic1.jpg" alt="")
                    .news__content
                        h4.news__name Тюменская область стала лидером в строительстве мусорных заводов 
                        p.news__text Тюменская область за два года построила три мусорных завода и стала лидером среди регионов 
                        .news__footer
                            a.link-next(href="")
                                span Читать статью
                                    svg(width="13" height="13") 
                                        use(xlink:href="#arrow-right-icn2")
                            .news__date 10 января 2023
                .news__item.ga7
                    img.news__pic(src="img/news/pic1.jpg" alt="")
                    .news__content
                        h4.news__name Тюменская область стала лидером в строительстве мусорных заводов 
                        p.news__text Тюменская область за два года построила три мусорных завода и стала лидером среди регионов 
                        .news__footer
                            a.link-next(href="")
                                span Читать статью
                                    svg(width="13" height="13") 
                                        use(xlink:href="#arrow-right-icn2")
                            .news__date 10 января 2023
                .news__item.ga8
                    img.news__pic(src="img/news/pic1.jpg" alt="")
                    .news__content
                        h4.news__name Тюменская область стала лидером в строительстве мусорных заводов 
                        p.news__text Тюменская область за два года построила три мусорных завода и стала лидером среди регионов 
                        .news__footer
                            a.link-next(href="")
                                span Читать статью
                                    svg(width="13" height="13") 
                                        use(xlink:href="#arrow-right-icn2")
                            .news__date 10 января 2023 
                .news__item.ga9
                    img.news__pic(src="img/news/pic1.jpg" alt="")
                    .news__content
                        h4.news__name Тюменская область стала лидером в строительстве мусорных заводов 
                        p.news__text Тюменская область за два года построила три мусорных завода и стала лидером среди регионов 
                        .news__footer
                            a.link-next(href="")
                                span Читать статью
                                    svg(width="13" height="13") 
                                        use(xlink:href="#arrow-right-icn2")
                            .news__date 10 января 2023
                .news__item.ga10.fdr-desctop
                    img.news__pic(src="img/news/pic1.jpg" alt="")
                    .news__content
                        h4.news__name Тюменская область стала лидером в строительстве мусорных заводов 
                        p.news__text Тюменская область за два года построила три мусорных завода и стала лидером среди регионов 
                        .news__footer
                            a.link-next(href="")
                                span Читать статью
                                    svg(width="13" height="13") 
                                        use(xlink:href="#arrow-right-icn2")
                            .news__date 10 января 2023
                .news__item.ga11
                    img.news__pic(src="img/news/pic1.jpg" alt="")
                    .news__content
                        h4.news__name Тюменская область стала лидером в строительстве мусорных заводов 
                        p.news__text Тюменская область за два года построила три мусорных завода и стала лидером среди регионов 
                        .news__footer
                            a.link-next(href="")
                                span Читать статью
                                    svg(width="13" height="13") 
                                        use(xlink:href="#arrow-right-icn2")
                            .news__date 10 января 2023  
                .news__item.ga12.fdr-desctop
                    img.news__pic(src="img/news/pic1.jpg" alt="")
                    .news__content
                        h4.news__name Тюменская область стала лидером в строительстве мусорных заводов 
                        p.news__text Тюменская область за два года построила три мусорных завода и стала лидером среди регионов 
                        .news__footer
                            a.link-next(href="")
                                span Читать статью
                                    svg(width="13" height="13") 
                                        use(xlink:href="#arrow-right-icn2")
                            .news__date 10 января 2023
            button.btn.btn--white#show-news Показать ещё

