extends templates/layout

block content

    .banner__mode-wrap
        ._container
            ul.breadcrumb
                li 
                    a Главная
                li Утилизаторам     
            .banner__mode-wrap-block
                .banner__mode-wrap-content
                    h1.title-page.banner__title Sit erat in fusce diam malesuada hac
                    h4.subtitle.banner__subtitle Lorem ipsum dolor sit amet consectetur. Ut aliquam eget arcu et eleifend lobortis lacinia laoreet. Dignissim et orci elit varius pharetra egestas lobortis enim. Donec purus enim orci.
                    button.btn.btn--gradient Найти покупателей
                .banner__pic 
                    img(src="img/banner4.svg" alt="")

    section.advantages3
        ._container
            h2.title-block Преимущества для утилизаторов
            .advantages3__wrap.advantages3__wrap--3
                .advantages3__item 
                    .advantages3__block 
                        img.advantages3__pic(src="img/svg-gobbler2023-041T005948.073.svg") 
                        p.advantages3__text Увеличение оборота вторичных материалов
                    .advantages3__block
                        img.advantages3__pic(src="img/svg-gobbler - 2023-04-11T005942.083.svg" alt="")
                        p.advantages3__text Неограниченный географический охват
                    .advantages3__block
                        img.advantages3__pic(src="img/svg-gobbler - 2023-04-12T092939.460.svg" alt="")
                        p.advantages3__text Пополнение сырьевой базы
                    .advantages3__block
                        img.advantages3__pic(src="img/svg-gobbler - 2023-04-12T092721.693.svg" alt="")
                        p.advantages3__text Увеличение клиентской базы
                    .advantages3__block 
                        .advanatages3__item-header
                            .advanatages3__item-name Оказание услугу <br> по нормативам РОП
                            img.advantages3__pic(src="img/svg-gobbler - 2023-04-12T092731.023.svg")
                        p.advantages3__text Наша платформа связывает покупателей и продавцов в сфере обращения с отходами и их переработки, обеспечивая соблюдение расширенной ответственностью производителей


    section.how-work2
        ._container
            .how-work2__head 
                h2.title-block Как это работает
                p.subtitle Хотите продать вторсырьё по лучшей цене? Вот как вы можете использовать «название компании» для этого:
            .how-work2__wrap
                .how-work2__item
                    .how-work2__pic
                        img(src="img/Rectangle6.png" alt="") 
                        .how-work2__count 01
                    h4.how-work2__name Разместите аукцион
                    p.how-work2__text Это быстрый и простой процесс, и вы можете установить свою обычную цену в качестве начальной ставки
                .how-work2__item
                    .how-work2__pic
                        img(src="img/Rectangle6.png" alt="") 
                        .how-work2__count 02
                    h4.how-work2__name Авто рассылка
                    p.how-work2__text Мы разошлем ваше предложение по всей базе благодаря чему ваше предложение будет видно более широкой аудитории
                .how-work2__item
                    .how-work2__pic
                        img(src="img/Rectangle6.png" alt="") 
                        .how-work2__count 03
                    h4.how-work2__name Постоянные клиенты
                    p.how-work2__text Вы можете отправить ссылку своим постоянным клиентам. Это может побудить их предложить более высокую цену за ваши вторсырья.
                .how-work2__item
                    .how-work2__pic
                        img(src="img/Rectangle6.png" alt="") 
                        .how-work2__count 04
                    h4.how-work2__name Время ставок
                    p.how-work2__text Подождите, пока потенциальные покупатели сделают свои ставки на аукционе. Покупатель, предложивший самую высокую цену, побеждает, что дает вам лучшее предложение по вторсырью.


    section.questions 
        ._container 
            .questions__wrap 
                .questions__col
                    h2.title-block.questions__title Часто задаваемые вопросы
                    a.btn(href="") Задать свой вопрос
                .questions__col
                    .accordion-wrap
                        .accordion__head 
                            h4.accordion__item-name Необходимо готовить всю тендерную документацию?
                            .accordion__item-close 
                                img(src="img/icns/pluscircle.svg" alt="")
                        .accordion__panel 
                            p.accordion__text Нет, такая ситуация невозможна. При публикации объявления вы указываете минимальную цену лота. Если вы обычно продаете...
                    .accordion-wrap 
                        .accordion__head 
                            h4.accordion__item-name Необходимо готовить всю тендерную документацию?
                            .accordion__item-close 
                                img(src="img/icns/pluscircle.svg" alt="")
                        .accordion__panel 
                            p.accordion__text Нет, такая ситуация невозможна. При публикации объявления вы указываете минимальную цену лота. Если вы обычно продаете...
                    .accordion-wrap 
                        .accordion__head 
                            h4.accordion__item-name Необходимо готовить всю тендерную документацию?
                            .accordion__item-close 
                                img(src="img/icns/pluscircle.svg" alt="")
                        .accordion__panel 
                            p.accordion__text Нет, такая ситуация невозможна. При публикации объявления вы указываете минимальную цену лота. Если вы обычно продаете...
                    .accordion-wrap 
                        .accordion__head 
                            h4.accordion__item-name Необходимо готовить всю тендерную документацию?
                            .accordion__item-close 
                                img(src="img/icns/pluscircle.svg" alt="")
                        .accordion__panel 
                            p.accordion__text Нет, такая ситуация невозможна. При публикации объявления вы указываете минимальную цену лота. Если вы обычно продаете...
                    .accordion-wrap 
                        .accordion__head 
                            h4.accordion__item-name Необходимо готовить всю тендерную документацию?
                            .accordion__item-close 
                                img(src="img/icns/pluscircle.svg" alt="")
                        .accordion__panel 
                            p.accordion__text Нет, такая ситуация невозможна. При публикации объявления вы указываете минимальную цену лота. Если вы обычно продаете...
                    .accordion-wrap 
                        .accordion__head 
                            h4.accordion__item-name Необходимо готовить всю тендерную документацию?
                            .accordion__item-close 
                                img(src="img/icns/pluscircle.svg" alt="")
                        .accordion__panel 
                            p.accordion__text Нет, такая ситуация невозможна. При публикации объявления вы указываете минимальную цену лота. Если вы обычно продаете...
    section.green-block 
        h2.title-block.green-block__title Готовы продать вторсырьё по лучшей цене?
        p.subtitle Зарегистрируйтесь на «Чистая Земля» сегодня и начните создавать аукционы
        a.btn.btn--white Зарегистрироваться